/*⚠THIS CSS REQUIRES A RESOURCE SWAPPER⚠*/


/*Code by NamekujiLSDs#7777*/


/*⚠DO NOT RE:WRITE CODES WITHOUT CONTACT ME⚠*/


/*© Copyright 2021 Namekuji All Rights Reserved.*/

@font-face {
    font-family: 'MyFont';
    src: url(https://f.easyuploader.app/eu-prd/upload/20210405225035_74567278.ttf);
  }
  
  * {
    font-family: MyFont;
    font-weight: 900;
  }
  
  #aHolder, #newsHolder, .verticalSeparator, .imageButton, #tlInfHold, #editorBtnM, #gameNameHolder, #seasonLabel {
    display: none !important;
  }
  
  #menuItemContainer {
    width: 8%;
    transform: skewX(-2deg);
    position: absolute;
    left: -2%;
  }
  
  .xpBarB {
    background: white;
  }
  
  .menuItem:hover {
    border-left: 0px;
    margin-right: -10%;
    background: linear-gradient(90deg, rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), #05e4ff);
  }
  
  .menuItem {
    border-right: 5px solid #05e4ff;
    border-bottom: solid 2px black;
    background: linear-gradient(90deg, rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), rgb(255 255 255), #05e4ff);
  }
  
  #windowHolder {
    content: " ";
    position: fixed;
    display: block !important;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 0;
    transition: cubic-bezier(0.36, 0.27, 0, 0.89) .5s;
  }
  
  #windowHolder[style="display: block;"] {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    z-index: 1;
    transition: cubic-bezier(0.36, 0.27, 0, 0.89) .5s;
  }
  
  .menuTabsNew {
    background: transparent;
  }
  
  .setHed {
    color: white;
  }
  
  .tabANew {
    color: white !important;
    text-shadow: 0 0 15px #77fffb;
  }
  
  .menuTabNew:hover {
    text-shadow: 0 0 10px #777bff;
  }
  
  .tabANew {
    border-bottom: 5px solid blue;
  }
  
  .tabANew:hover, .menuTabNew:hover {
    border-bottom: 5px solid #00ffd4;
  }
  
  #menuWindow {
    color: white !important;
    box-shadow: none;
    background-color: #00000087;
  }
  
  span {
    color: #ffb1fc;
  }
  
  .settName, .settNameSmall, .floatR {
    color: #00cdff;
    margin-bottom: 4%;
    font-size: 20px;
  }
  
  .settingsHeader {
    background-color: transparent;
  }
  
  #uiBase.onMenu #chatHolder {
    position: absolute;
    left: 11%;
    bottom: 10%;
    width: 15%;
  }
  
  .chatItem {
    color: #b7b7b7 !important;
    width: -webkit-fill-available;
    background: #d0fdff;
    opacity: 1 !important;
    text-shadow: 1px 1px 1px black, 1px -1px 01px black, -1px -1px 1px black, -1px 1px 1px black;
    border-radius: 0px;
    box-shadow: 4px 4px 2px #f8acf5, 5px 5px 2px #f8acf5;
    padding-right: 5%;
    margin-bottom: 5%;
  }
  
  .settingTab {
    color: white;
  }
  
  .contCanSelect {
    margin-bottom: 1%;
  }
  
  #subLogoButtons {
    bottom: 3%;
  }
  
  #subLogoButtons>.button {
    height: fit-content;
    box-shadow: none !important;
    background: black !important;
    border: solid white 3px;
  }
  
  .menuItem .menuItemIcon {
    display: none;
  }
  
  div {
    color: lightblue !important;
  }
  
  .menuItem .menuItemTitle {
    margin-top: 1%;
    margin-left: 110%;
    align-items: end;
    font-size: 33px !important;
    transform: skewX(-10deg);
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  }
  
  #uiBase.onMenu #spectButton {
    height: max-content;
    position: absolute;
    top: 4%;
    left: 48%;
    font-size: 30px !important;
    transform: scale(1.5);
    text-align: center;
    align-content: center;
  }
  
  .headerBarRight {
    background: transparent;
    top: 2%;
    right: 0.5%;
  }
  
  #menuServerInfoContainer, #menuPingText {
    font-size: 25px;
    top: 7%;
  }
  
  #menuPingDisplay .material-icons {
    display: none;
  }
  
  #mLevelCont {
    position: fixed;
    margin-left: -2%;
  }
  
  #menuKRCount {
    font-size: 15px;
    width: -webkit-fill-available;
  }
  
  .headerBarLeft {
    width: max-content;
    padding-right: 5%;
  }
  
  .serverHeader, #selectorContainer, #itemSearchH {
    background: transparent;
  }
  
  .selectorItem {
    border-radius: 0px;
    background: transparent !important;
    filter: drop-shadow(2px 2px 2px #00fff3) !important;
  }
  
  .selectedItem {
    border-radius: 0px;
    filter: drop-shadow(2px 2px 2px #ef00ff) !important;
  }
  
  .selectorItem:hover {
    border-left: 10px solid #fd6eff;
  }
  
  .custContainer:hover {
    background: rgb(255 255 255 / 50%)
  }
  
  #teamSelector {
    position: fixed;
    bottom: 10%;
  }
  
  #mailIcon {
    margin-right: -50%;
  }
  
  #customizeButton, #policeButton {
    box-shadow: none !important;
    background: black !important;
    border: solid white 3px;
  }
  
  .material-icons {
    color: white !important;
  }
  
  #leaderDisplay {
    position: relative;
    border-radius: 0px;
    background: #dffff4;
    box-shadow: 3px 3px 2px cyan, 4px 4px 2px cyan, 5px 5px 2px cyan, 6px 6px 2px cyan;
    left: -10%;
  }
  
  #leaderContainer {
    border-top: 4px solid #ff11ff;
  }
  
  #leaderDisplay:before {
    content: "LeaderBoard";
    color: black;
    text-shadow: 2px 2px 2px gray;
    width: 400px;
    padding: 10px;
  }
  
  .leaderCounter {
    color: black !important;
  }
  
  .leaderNameM, .leaderNameF {
    color: #0022ff !important;
    font-weight: bolder;
  }
  
  .leaderName {
    color: red !important;
  }
  
  #uiBase.onMenu #voiceDisplay {
    left: 26%;
  }
  
  .topRightCounters {
    transform: scale(0.9);
  }
  
  .countIcon {
    background: transparent !important;
    filter: drop-shadow(10px 0px 10px black);
  }
  
  #menuClassNameTag {
    display: none;
  }
  
  #timerDisplay {
    background: transparent;
    position: fixed;
    top: 80%;
    left: 46%;
    align-content: left;
    text-align: left;
    margin: 0px;
  }
  
  #timerIcon {
    display: none;
  }
  
  #timerVal {
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, -1px 1px 3px black, 1px -1px 3px black, 2px 2px 2px black, 4px 4px 4px black;
    font-size: 40px;
  }
  
  #pingDisplay, #fpsDisplay, #ingressDisplay, #egressDisplay, span#ingameFPS, #pingText, #ingressPacketCount, #ingressDataSize, #egressPacketCount, #egressDataSize, #pingDisplay .material-icons, #ingressDisplay .material-icons, #egressDisplay .material-icons {
    color: #e941ff !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
  }
  
  #curGameInfo {
    font-size: 10px;
  }
  
  #reloadMsg {
    position: fixed;
    background: transparent;
    left: 49%;
    top: 53%;
    font-size: 15px;
    color: red !important;
  }
  
  #ammoDisplay {
    background-color: transparent;
    position: fixed;
    top: 53%;
    padding-top: 0px;
    height: 5px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 7px;
    width: 1%;
    left: 49%;
    border-radius: 0px;
    background-image: url(https://f.easyuploader.app/eu-prd/upload/20210405230547_66556653.png);
    filter: brightness(1.5)
  }
  
  #ammoMax, #ammoIcon {
    display: none;
  }
  
  #ammoVal {
    position: fixed;
    top: 4000%;
    left: 400%;
    font-size: 40px;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, -1px 1px 3px black, 1px -1px 3px black;
  }
  
  #hudClassIcon {
    display: none;
  }
  
  #healthBar {
    align-content: center;
    position: fixed;
    left: 43.5%;
    bottom: 5%;
    border: solid 8px white;
    align-content: right;
    transform: scaleY(0.6) scaleX(2) skew(-10deg);
  }
  
  .hpBSeg {
    border-radius: 0px;
    box-shadow: none;
    background-color: #72cef1 !important;
  }
  
  .healthBarSeg {
    border-radius: 0px;
    margin-right: -1px;
    box-shadow: none;
    background-color: #f670ff;
  }
  
  #healthValueHolder {
    background: transparent;
    position: fixed;
    top: 67.5%;
    left: 35%;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, -1px 1px 3px black, 1px -1px 3px black;
  }
  
  #healthValue {
    color: yellowgreen !important;
    font-size: 40px;
  }
  
  #maxHP, #challIcon {
    display: none;
  }
  
  #killCardHolder {
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, -1px 1px 3px black, 1px -1px 3px black;
    color: black !important;
  }
  
  .standout {
    color: transparent !important;
    font-size: 0px;
  }
  
  .standout:before {
    content: "CSS BY NamekujiLSDs#7777 ";
    color: yellow;
    font-size: 15px;
  }
  
  .grey {
    color: white;
  }
  
  .clsXPBarC {
    width: 90% !important;
  }
  
  .classCard {
    background-color: #e5ffff;
    border-radius: 0px;
    box-shadow: 6px 6px 2px blue;
    margin-right: 2px;
  }
  
  .weapKey {
    display: none;
  }
  
  .weapItem {
    opacity: 1;
    filter: drop-shadow(5px 3px 0px #04c1ff);
  }
  
  .setHedBind, .setHed {
    margin-bottom: 2%;
    color: cyan !important;
    border-bottom: 2px solid cyan;
    padding-bottom: 1%;
  }
  
  .custContainer {
    background: #ffffff4d;
    margin-bottom: 0px;
  }
  
  #termsInfo {
    padding-bottom: 0px;
    padding-top: 0px;
    border: 0px;
    height: fit-content;
  }
  
  #mapInfo {
    margin-bottom: 0px;
  }
  
  .verticalSeparatorInline {
    height: 0px;
    margin: 0px;
  }
  
  .mapActionOvrl {
    height: 70%;
    background-color: #00ffff33;
  }
  
  .weaponChatIcon, .headShotChatIcon {
    filter: brightness(0);
    opacity: 1 !important;
  }
  
  #mapInfoHolder {
    height: fit-content;
    width: 15%;
  }
  
  .terms {
    font-size: 15px;
  }
  
  .verticalSeparatorInline {
    display: none;
  }
  
  .standout {
    font-size: 0px !important;
  }
  
  #instructionsUpdate {
    background: white;
    text-shadow: 2px 2px 1px gray, 3px 3px 1px gray;
    color: black !important;
    box-shadow: 5px 5px 1px gray, 6px 6px 1px gray, 7px 7px 1px gray;
  }
  
  #instructionsUpdateBG {
    background: transparent;
  }
  
  #instructionHolder {
    background-color: rgb(0 0 0 / 0.5);
  }
  
  #policeButton {
    transform: scaleY(0.8);
  }
  .slider,input:checked+.slider,.slider:before,input:checked+.slider:before{
    border-radius:30px;
  }
  .slider,input:checked+.slider,input[type=number]{
    color:red;
    background:gray;
  }
  input:checked+.slider,input[type=number]{
      background:#f9a9ff;
  }
  input[type=color]{
    border:4px solid #ffb3f9;
  }
  #settingsTabLayout{
      grid-template-columns:auto auto auto auto auto auto auto;
  }
  #healthBar{
      transform:scaleY(0.5);
  }