@keyframes fadeIn1 {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    15% {
        transform: scale(0.9, 0.9) translate(0%, 5%);
    }
    30% {
        transform: scale(1.3, 0.8) translate(0%, 10%);
    }
    50% {
        transform: scale(0.8, 1.3) translate(0%, -10%);
    }
    70% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}

@keyframes fadeIn2 {
    0% {
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
        transform: translateY(-447px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeOut {
    0% {
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
    }
    66% {
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0));
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,0));
    }
}

.logo {
    position:absolute;
    top: 50%;
    left: 223.5px;
    margin-top: -96.5px;
    animation: fadeIn1 0.8s linear 1s forwards, fadeIn2 1s forwards,  fadeOut 1.5s 1.8s forwards;
}